<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.wichura.lks">

    <supports-screens
        android:largeScreens="true"
        android:xlargeScreens="true" />


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="MY_PERMISSION_REQUEST_ACCESS_FINE_LOCATION" />

    <permission
        android:name="de.wichura.lks.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="de.wichura.lks.permission.C2D_MESSAGE" />

    <application


        android:name="de.wichura.lks.mainactivity.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name="de.wichura.lks.gcm.MyGcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="de.wichura.lks.gcm.MyInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="de.wichura.lks.gcm.RegistrationIntentService"
            android:exported="false">

        </service>

        <!-- Splash screen -->
        <activity
            android:name="de.wichura.lks.mainactivity.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="de.wichura.lks.mainactivity.MainActivity"
            android:label="@string/app_name">
            !--android:screenOrientation="portrait"-->
        </activity>


        <activity
            android:name="de.wichura.lks.activity.NewAdActivity"
            android:label="@string/title_new_add_page" />

        <activity
            android:name="de.wichura.lks.activity.LoginActivity"
            android:label="@string/title_login_page" />

        <activity
            android:name="de.wichura.lks.activity.OpenAdActivity"
            android:label="@string/title_open_ad_page" />

        <activity
            android:name="de.wichura.lks.activity.SearchActivity"
            android:label="@string/title_search_page" />

        <activity
            android:name="de.wichura.lks.activity.MessagesActivity"
            android:label="@string/title_message_page" />

        <activity
            android:name="de.wichura.lks.activity.MessagesOverviewActivity"
            android:label="@string/title_msg_overview_page" />

        <activity
            android:name="de.wichura.lks.activity.SettingsActivity"
            android:label="@string/title_settings_page" />

        <activity
            android:name="de.wichura.lks.activity.RegisterUserActivity"
            android:label="@string/title_register_user" />

        <activity
            android:name="de.wichura.lks.activity.EbayActivity"
            android:label="EBAY">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

</manifest>