<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wichura.de.camperapp">

    <supports-screens
        android:largeScreens="true"
        android:xlargeScreens="true" />



    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="MY_PERMISSION_REQUEST_ACCESS_FINE_LOCATION"/>

    <permission android:name="wichura.de.camperapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="wichura.de.camperapp.permission.C2D_MESSAGE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="wichura.de.camperapp" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service android:name=".gcm.RegistrationIntentService"
            android:exported="false">
        </service>


        <activity
            android:name=".mainactivity.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="wichura.de.camperapp.activity.NewAdActivity"
            android:label="@string/title_new_add_page" />

        <activity
            android:name="wichura.de.camperapp.activity.LoginActivity"
            android:label="@string/title_login_page" />

        <activity
            android:name="wichura.de.camperapp.activity.OpenAdActivity"
            android:label="@string/title_open_ad_page" />

        <activity
            android:name="wichura.de.camperapp.activity.SearchActivity"
            android:label="@string/title_search_page" />

        <activity
            android:name=".activity.MessagesActivity"
            android:label="@string/title_message_page" />

        <activity
            android:name=".activity.MessagesOverviewActivity"
            android:label="@string/title_msg_overview_page" />

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_settings_page" />

        <activity
            android:name=".activity.SearchesActivity"
            android:label="@string/title_searches_page" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

</manifest>